html,body {
    margin: 0px;
    font-size: 14pt;
    font-family: "Roboto",sans-serif;
}

#VisNetwork {
    height: 100vh;
    background-color: white;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    background: white;
    /* padding: 1em; */
    color: black;

    overflow-x: hidden;
    transition: 0.5s;
    box-sizing: border-box;
    padding-left: 10px;
    /* padding-top: 60px; */
    /* border-left:3px solid #0b579f; */

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar div {
    /* padding: 8px 8px 8px 32px; */
    /* text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block; */
    transition: 0.3s;
}

.column {
    padding: 5px;
}

.rangesli {
    width: 200px;
    transition: 0s;
}

div.ui-slider-range.ui-widget-header {
    background: #0b579f;
    transition:0s;
}

.rangeyears {
    border: 0;
    background: #f1f1f1;
    margin: auto;
    color: #0b579f;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    width: 200px;
    font-size: 16px;
}

div.vis-network div.vis-navigation div.vis-button {
    background-size: 2.5em;
    background-position: 50%;
    height: 38px;
    width: 38px;
    border-radius: 20px;
}

div.vis-network div.vis-navigation div.vis-button:hover {
    box-shadow: 0 0 2px 2px rgba(11, 87, 159,.3);
}

div.vis-network div.vis-navigation div.vis-button.vis-up {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='vis-icon vis-icon--up' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='rgb(11, 87, 159)' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M16 12l-4-4-4 4M12 16V9'/%3E%3C/svg%3E");
    bottom: 50px;
    left: 55px;

}

div.vis-network div.vis-navigation div.vis-button.vis-down {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='vis-icon vis-icon--down' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='rgb(11, 87, 159)' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M16 12l-4 4-4-4M12 8v7'/%3E%3C/svg%3E");
    bottom: 10px;
    left: 55px;
}

div.vis-network div.vis-navigation div.vis-button.vis-left {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='vis-icon vis-icon--left' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='rgb(11, 87, 159)' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M12 8l-4 4 4 4M16 12H9'/%3E%3C/svg%3E");
    bottom: 10px;
    left: 15px;
}

div.vis-network div.vis-navigation div.vis-button.vis-right {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='vis-icon vis-icon--right' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='rgb(11, 87, 159)' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M12 8l4 4-4 4M8 12h7'/%3E%3C/svg%3E");
    bottom: 10px;
    left: 95px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='vis-icon vis-icon--zoom-extends' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='rgb(11, 87, 159)' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Cpath d='M7.027 7.027l9.946 9.946m0-9.946l-9.946 9.946m6.792-10.43h3.64v3.64m-7.278-3.64h-3.64v3.64m7.278 7.278h3.64v-3.64m-7.278 3.64h-3.64v-3.64' stroke-width='1.6'/%3E%3Ccircle cx='12.102' cy='12.102' r='10'/%3E%3C/svg%3E");
    bottom: 50px;
    right: 15px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomIn {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='vis-icon vis-icon--zoomIn' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='rgb(11, 87, 159)' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Ccircle cx='12.102' cy='12.102' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='16'%3E%3C/line%3E%3Cline x1='8' y1='12' x2='16' y2='12'%3E%3C/line%3E%3C/svg%3E");
    bottom: 10px;
    right: 15px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='vis-icon vis-icon--zoomOut' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='rgb(11, 87, 159)' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='8' y1='12' x2='16' y2='12'%3E%3C/line%3E%3C/svg%3E");
    bottom: 10px;
    right: 55px;
}

#context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background: white;
    transform: scale(0);
    transform-origin: top left;
    background-color: #0b579f;
}

#context-menu.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#context-menu .item button {
    width: 150px;
    background: #0b579f;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: inherit;
    border-width: 0px;
}

#context-menu .item button:hover {
    background: #288CEB;
}

#context-menu .topicmenu{
    padding:2px;
}

#context-menu .topicmenu button {
    background: #97c2fc;
    transition: 0.3s;
    border: none;
    /*             padding:20; */
    border-radius: 6px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px 2px;
    font-size: 11px;
    color: black;
    cursor: pointer;
}

#context-menu .topicmenu button:hover {
    background: #FCD197;
}

#nameTool {
    color:white;
    text-align: center;
    font-size: 16pt;
    background-color: #F47C21;
    padding: 5px;
}

#legendnormal img {
    /* display: block; */
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 2px;

    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */

    text-align: center;
    font-size: 2em;
    display:inline;
    vertical-align:middle;

}

#legendBox{
    padding:10px;
}

#ExpandedNode {
    height: 40px;
    width: 40px;
    display: inline-block;

    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%;

    vertical-align: middle;
    margin: 2px;
}

#circle{
    height: 30px;
    width: 30px;
    line-height: 50px;
    margin: 2px;
    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */
    display: inline-block;
    vertical-align:middle;
}

.ui-menu img {
    width: 40px;
    height: 40px;
}

.ui-menu li span {
    padding: 0 0 10px 10px;
    margin: 0 0 10px 0 !important;
    white-space: pre-wrap;
}


.ui-menu li:not(:first-child) { border-top: 1px #ccc solid; padding: 1px 0; }

.ui-helper-hidden-accessible {
display:none
}

#tooltopic_autocomplete{
    width: 200px;
}
.ui-autocomplete {
    max-height: 200px;
    width: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    /* padding-right: 20px; */
    font: 12pt arial;
    padding:0px;
    position:absolute;
} 

.boxAutocomplete{
    display: flex;
    align-items:center;
    max-width: 200px;
    padding: 1px;
}

.TextAutocomplete{
    vertical-align:middle;
    margin-left: 3px;
}

.typeSoft{
    font-size: small;
    font-weight: bold;
    margin-left: 3px;
}

#yearColumn{
    display:none;
}

.close-icon{
    width: 16px;
    height: 23px;
    float: left;
    padding-left: 7px;
}

.name-topic{
    overflow: hidden;
}

.ToolButton{
    background-color: #F47C21;
    border: none;
    color: white;
    padding: 5px 0px;
    font-size: 16px;
    cursor: pointer;
    display:block;
    width: 200px;
    margin: 10px;
    font-weight: bold;
}

.ToolButton:hover{
    background-color: #FF913D;
}

.topicDiv{
    background-color: #F47C21;
    border: none;
    color: white;
    padding: 5px 0px;
    font-size: 16px;
    cursor: default;
    display:block;
    width: 200px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.buttons{
    background-color: #F47C21;
    border: none;
    color: white;
    padding: 5px 0px;
    font-size: 16px;
    cursor: pointer;
    display:block;
    width: 200px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.buttons:hover{
    background-color: #FF913D;
}

#MenuImage{
    width: 30px;
    height: 30px;
    padding: 4px 1px;
}

#openbtn {
    /* font-size: 20px; */
    cursor: pointer;
    background-color: rgb(0,0,0,0.0);
    /* color: white; */
    /* padding: 10px 15px; */
    border: none;
    z-index: 1000;
    position: absolute;
    right: 20px;
    top: 20px;
}

/* #openbtn:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */

#visualization{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width: 100%;
    transition: 0.5s;
    /* padding-right: 5px; */
}
#inital-screen{
    height: 100vh;
    z-index: 10;
    background: #eee;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    text-align: center;
    position:relative;
    font-size: 22pt;
}
#initial-explanation{
    font-size: 18pt;
    /* padding:0xp 5px; */
}
#text-initial{
    margin:0px 25px;
}
.imgHomePage{
    width: 15em;
    vertical-align: middle;
    margin:50px 0px;
}

@media only screen and (max-width: 800px) {
    .imgHomePage {
        width: 80%;
        vertical-align: middle;
        margin: 50px 0px 0px 0px;
    }
    #initial-explanation{
        font-size: 14px;
    }
    #text-initial{
        margin:5px;
        font-size: 20px;
        margin-right: 10px;
    }
}

#loading {
    height: 100vh;
    z-index: 9;
    background: #eee;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    position:relative;
    font-size: 16pt;
    /* top:0;
    left:0;
    width: calc(100% - 400px); */
}

#loadingSpinner{
    width: 4em;
    animation: spin 3s infinite linear;
    position:relative;
    top:50%;
    left: 50%;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}



#main {
    transition: margin-right .5s;
    text-align: right;
    height: 100vh;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}